{% extends 'base.html.twig' %}

{% block title %}HEPSI learning{% endblock %}

{% block body %}
    <div id="discoverWrapper">
        <div id="discoverContainer">
            <h1>
                <span>H</span>
                EPSI
                <span>learning</span>
            </h1>
        </div>
        <a href="">DÉCOUVRIR</a>
    </div>
    <div id="showcaseWrapper">
        <div id="showcaseContainer">
            <h3>Des cours qui s'adaptent à vous !</h3>
            <span>Apprenez vos cours à votre façon, de manière visuelle, auditive ou kinesthésique:</span>
            <ul>
                <li>Enregistrez vos cours en travaillant votre mémoire visuelle</li>
                <li>Retenez vos cours en travaillant votre mémoire auditive</li>
                <li>Enregistrez vos cours en pratiquant afin d'assimiler plus facilement</li>
            </ul>
            <a href="">EN SAVOIR PLUS</a>
        </div>
    </div>
{% endblock %}
