<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
            <link href="style.css" rel="stylesheet">
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <body>
        <div id="header">
            <img src="https://cdn.discordapp.com/attachments/894493859218858007/895573837079523328/logo_workshop_B3.PNG" alt="Logo">
            <ul>
                <li><a href="./">Accueil</a></li>
                <li><a href="./cours">Cours</a></li>
                <li><a href="">À propos</a></li>
                <li><a href="">Fonctionnement</a></li>
            </ul>
        </div>
        {% block body %}{% endblock %}
        <div id="footer">
            <img src="https://cdn.discordapp.com/attachments/894493859218858007/895573837079523328/logo_workshop_B3.PNG" alt="Logo">
            <ul>
                <li><a href="./">Accueil</a></li>
                <li><a href="./cours">Cours</a></li>
                <li><a href="">À propos</a></li>
                <li><a href="">Fonctionnement</a></li>
            </ul>
            <div id="joinFooter">
                <span>Rejoignez-Nous !</span>
                <div id="footerImg">
                    <a href=""><img src="https://img.icons8.com/fluency-systems-filled/48/000000/linkedin.png"/></a>
                    <a href=""><img src="https://img.icons8.com/material-outlined/48/000000/instagram-new--v1.png"/></a>
                </div>
            </div>
        </div>
    </body>
</html>
