{% extends 'base.html.twig' %}

{% block title %}Hello KineController!{% endblock %}

{% block body %}
  <img src="resource/{{kine[0]["img"]}}" class="screenshot"/>
  <p>
    {% for text in kine %}
      {{text["text"]}}
    {% endfor %}
  </p>
{% endblock %}
